<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Week 43 - 3rd party API
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
  <h2>Enter address here</h2>
  </ion-item>
  <ion-item>
  <input size="100" list="address" [formControl]="addressField" (input)="handleSearchForAddress()">
  <datalist id="address">
    <option *ngFor="let result of results" [value]="result.formatted"></option>
  </datalist>
  </ion-item>

  <ion-item>
    Sales price in DKK: {{salesPrice}}
  </ion-item>

  <ion-item *ngIf="convertedCurrencyCode">
    Sales price in {{convertedCurrencyCode}}: {{convertedCurrencyValue}}
  </ion-item>
</ion-content>
